@doordash:registry=https://ddartifacts.jfrog.io/ddartifacts/api/npm/npm-local/
@dash:registry=https://ddartifacts.jfrog.io/ddartifacts/api/npm/npm-local/
//ddartifacts.jfrog.io/ddartifacts/api/npm/npm-local/:_authToken=${NPM_AUTH_TOKEN}
//wolt.jfrog.io/artifactory/api/npm/doordash-npm-local/:_authToken=${NPM_AUTH_TOKEN}
legacy-peer-deps=true
